
<!--

<div>
    <h1><a ng-link="home">Home</a></h1>
    <form ng-submit="edit.update()">
        <h3>Name</h3>
        <input type="text" ng-model="edit.person.name" ng-change="edit.update()"/><br/>
        <h3>Age</h3>
        <input type="number" ng-model="edit.person.age" ng-change="edit.update()"/><br/>
        <h3>Email</h3>
        <input type="text" ng-model="edit.person.email" ng-change="edit.update()"/><br/>

    </form>

</div>
-->

<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span>Edit Details</span>
    </h2>
</md-toolbar>
<div id="editForm">
    <div layout="column">
        <br/>
        <md-content layout-padding class="autoScroll">
            <md-input-container class="md-icon-float" >
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <md-icon md-svg-src="img/ic_person_24px.svg" class="name"></md-icon>
                <input type="text" ng-model="edit.person.name" ng-change="edit.update()"/><br/>
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-svg-src="img/ic_phone_24px.svg"></md-icon>
                <input ng-model="edit.person.age" type="text" placeholder="Phone Number" ng-change="edit.update()">
            </md-input-container>
            <md-input-container >
                <!-- Use floating placeholder instead of label -->
                <md-icon md-svg-src="img/ic_email_24px.svg" class="email"></md-icon>
                <input ng-model="edit.person.email" type="email" placeholder="Email (required)" ng-required="true" ng-change="edit.update()">
            </md-input-container>

        </md-content>

    </div>

</div>